<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/head.css">
    <link rel="stylesheet" href="/body.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/styles.css"><script src="https://kit.fontawesome.com/7ecd113600.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <!--Header-->
        <div class="container-header">
            <div class=" container-logobar">
                <!--Logo-->
                <img class="logo" src="../images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">

                <!--Lugar Barra busqueda-->
            
                <div class="container-barraBusqueda">
                        
                        <input class="barra-busqueda" type="text">
                    
                        <button class="buscar">   
                        
                            <i class="fa-solid fa-magnifying-glass"></i>
                        
                        </button>   
                        
                </div>
            
                <!--Compra en cuotas -->

                <div class="mensaje-inicial centrar">
                    
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <h2 class="texto">Compra en cuotas y sin tarjeta de credito</h2>
                
                </div>
                
            </div>
            <ul class="ocultar2 container-divs-de-li" >
                <div class="links">
                    <Li><a class="texto" href="#"> Oferta</a></Li>
                    <Li><a class="texto" href="#"> Tiendas Oficiales</a></Li>
                    <Li><a class="texto" href="#"> Vender</a></Li>
                    <Li><a class="texto" href="#"> Ayuda</a></Li>
                </div>
                
                <div class="links">
                    <div class="centrar">
                        <Li><a class="texto" href="./userCreate"> Crea Tu Cuenta<i class="fa-solid fa-address-card"></i></a></Li>
                        
                    </div>
                    <div class="centrar">
                        <Li><a class="texto" href="./login"> Ingresa<i class="fa-solid fa-right-to-bracket"></i> </a></Li>
                          
                    </div>
                    <div class="centrar">
                        <Li><a class="texto" href="#"> Mis Compras  <i class="fa-solid fa-basket-shopping"></i></a></Li>
                      
                    </div>
                </div>
            </ul>
            <!--BURGUER BUTTON-->
            <div class="centrar mostrar">
                <button class="menu-burger">

                    <i class="fa-solid fa-bars"></i>

                </button>
            </div>
           
        </div>
         <!--Banner-->
            
        <img class="banner" src="/images/banner.jpg" alt="">
    <!--Main-->

        <!--Basado en la ultima visita-->
        <section class="container-main centrar">
            <article class="ocultar-article">
                <h2 class="titular">Basado en tu última visita</h2>
            </article>   
            <section class="posicionG">
                
                
                    <article class="container-product ">
                            
                                    <div class="container-img ">
                                        
                                        <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de Cafetera">
                                        
                                    </div>
                                    <hr class="linea">
                                    <!--Precios y datos conedor-->
                                    <div class="espaciado ">
                                        
                                        <div class="container-camion">
                                            <i class="fa-solid fa-truck"></i>
                                        </div>
                                        <div class="container-precioferta ">
                                            <p class="precio">$6.770</p>
                                            <p class="descuento">40% OFF</p>
                                        </div>
                                  
                                <p class="descripcion ">Cafetera Moulinex</p >
                                </div>
                                
                                
                            
                    </article>
                    
                    <article class="container-product">
                        
                        <div class="container-img">
                            <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de Cafetera">
                        
                        </div>
                        <hr class="linea">
                        <!--Precios y datos conedor-->
                        <div class="espaciado"> 
                            
                            <div class="container-camion">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="container-precioferta">
                                <p class="precio">$230.000</p>
                                <p class="descuento">20% OFF</p>
                            </div>
                            <p class="descripcion ">MacBook Pro 2019</p>
                            
        

                        </div>
                    </article>
                    
                    <article class="container-product">
                        
                        <div class="container-img">
                            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Cafetera">
                        </div>
                        <hr class="linea">

                        <!--Precios y datos conedor-->
                        <div class="espaciado">
                            <div class="container-camion">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="container-precioferta">
                                <p class="precio">$70.500</p>
                                <p class="descuento">10% OFF</p>
                            </div>
                            <p class="descripcion ">Samsung Galaxy S10</p>
                            

                        </div>
                    </article>
                    
                    <article class="container-product">

                        <div class="container-img">
                            
                            <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de Cafetera">
                        </div>
                        <hr class="linea">

                        <!--Precios y datos conedor-->
                        <div class="espaciado">
                            <div class="container-camion">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            
                            <div class="container-precioferta">
                                <p class="precio">$23.200</p>
                                <p class="descuento">5% off</p>
                            </div>
                            <p class="descripcion "> SmartTv Samsung 43"</p>
                
                        </div>
                    </article>
            
                </section>

            <!--Seccion 2-->

            
            <article class="ocultar-article">
                <h2 class="titular">Oferta</h2>
            </article>      
                <section class="posicionG">
                    
                    
                        <article class="container-product">
                            
                            <div class="container-img">
                                
                                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de Cafetera">
                                
                            </div>
                            <hr class="linea">
                            <!--Precios y datos conedor-->
                            <div class="espaciado">
                                
                                <div class="container-camion">
                                    <i class="fa-solid fa-truck"></i>
                                </div>
                                <div class="container-precioferta">
                                    <p class="precio">$6.770</p>
                                    <p class="descuento">40% OFF</p>
                                </div>
                                <p class="descripcion">Cafetera Moulinex</p>
                                
                                
                            </div>
                        </article>
                        
                        <article class="container-product">
                            
                            <div class="container-img">
                                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de Cafetera">
                            
                            </div>
                            <hr class="linea">
                            <!--Precios y datos conedor-->
                            <div class="espaciado"> 
                                
                                <div class="container-camion">
                                    <i class="fa-solid fa-truck"></i>
                                </div>
                                <div class="container-precioferta">
                                    <p class="precio">$230.000</p>
                                    <p class="descuento">20% OFF</p>
                                </div>
                                <p class="descripcion ">MacBook Pro 2019</p>
                                
            
    
                            </div>
                        </article>
                        
                        <article class="container-product">
                            
                            <div class="container-img">
                                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Cafetera">
                            </div>
                            <hr class="linea">
    
                            <!--Precios y datos conedor-->
                            <div class="espaciado">
                                <div class="container-camion">
                                    <i class="fa-solid fa-truck"></i>
                                </div>
                                <div class="container-precioferta">
                                    <p class="precio">$70.500</p>
                                    <p class="descuento">10% OFF</p>
                                </div>
                                <p class="descripcion ">Samsung Galaxy S10</p>
                                
    
                            </div>
                        </article>
                        
                        <article class="container-product">
    
                            <div class="container-img">
                                
                                <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de Cafetera">
                            </div>
                            <hr class="linea">
    
                            <!--Precios y datos conedor-->
                            <div class="espaciado">
                                <div class="container-camion">
                                    <i class="fa-solid fa-truck"></i>
                                </div>
                                
                                <div class="container-precioferta">
                                    <p class="precio">$23.200</p>
                                    <p class="descuento">5% off</p>
                                </div>
                                <p class="descripcion "> SmartTv Samsung 43"</p>
                    
                            </div>
                        </article>
                
                    </section>
            </section>



    <!--Footer-->
    <footer>
        <div class="container-footer-all">
            <div class="container-footer">
                <i class="icon fa-solid fa-credit-card"></i>

                <h2 class="titularF">Pagá con tarjeta o en efectivo</h2>
                
                <p class="parrafo">
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>

            <div class="container-footer">
                <i class="icon fa-solid fa-gift"></i>
                <h2 class="titularF">Envío gratis desde $ 2.500        </h2>

                <p class="parrafo">
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>

            <div class="container-footer">
                <i class="icon fa-solid fa-user-shield"></i>
                <h2 class="titularF">Seguridad, de principio a fin</h2>

                <p class="parrafo">     
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.
                </p>   
            </div>
        </div>
        <p class="parrafo copyright"> 
                 Copyright © 1999-2020 MercadoLiebre S.R.L.
        </p>  
    </footer>
</body>
</html>
