<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/head.css">
    <link rel="stylesheet" href="/body.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/userCreate.css">
    <link rel="stylesheet" href="/styles.css"><script src="https://kit.fontawesome.com/7ecd113600.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <!--Header-->
        <div class="container-header">
            <div class=" container-logobar">
                <!--Logo-->
                <img class="logo" src="../images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">

                <!--Lugar Barra busqueda-->
            
                <div class="container-barraBusqueda">
                        
                        <input class="barra-busqueda" type="text">
                    
                        <button class="buscar">   
                        
                            <i class="fa-solid fa-magnifying-glass"></i>
                        
                        </button>   
                        
                </div>
            
                <!--Compra en cuotas -->

                <div class="mensaje-inicial centrar">
                    
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <h2 class="texto">Compra en cuotas y sin tarjeta de credito</h2>
                
                </div>
                
            </div>
            <ul class="ocultar2 container-divs-de-li" >
                <div class="links">
                    <Li><a class="texto" href="#"> Oferta</a></Li>
                    <Li><a class="texto" href="#"> Tiendas Oficiales</a></Li>
                    <Li><a class="texto" href="#"> Vender</a></Li>
                    <Li><a class="texto" href="#"> Ayuda</a></Li>
                </div>
                
                <div class="links">
                    <div class="centrar">
                        <Li><a class="texto" href="./userCreate"> Crea Tu Cuenta<i class="fa-solid fa-address-card"></i></a></Li>
                        
                    </div>
                    <div class="centrar">
                        <Li><a class="texto" href="./login"> Ingresa<i class="fa-solid fa-right-to-bracket"></i> </a></Li>
                          
                    </div>
                    <div class="centrar">
                        <Li><a class="texto" href="#"> Mis Compras  <i class="fa-solid fa-basket-shopping"></i></a></Li>
                      
                    </div>
                </div>
            </ul>
            <!--BURGUER BUTTON-->
            <div class="centrar mostrar">
                <button class="menu-burger">

                    <i class="fa-solid fa-bars"></i>

                </button>
            </div>
           
        </div>
         <!--Banner-->
            
        <img class="banner" src="/images/banner.jpg" alt="">
   
    <!--MAIN-->

    <form class="container-all">

        <input class="ancho" name="nombr-y-apellido"type="text" placeholder=" Nombre y apellido">

        <input class="ancho" type="text" name="user-name" placeholder=" Nombre usuario" id="">

        <input class="ancho" type="date" name="fecha-nacimiento" id="" placeholder=" Fecha de nacimiento" min="1900-01-01" >

        <h2 class="txt">Fecha de nacimiento</h2>

        <input class="ancho" type="text" name="Domicilio" id=""placeholder=" Domicilio">

        <h2 class="txt">Perfil del usuario</h2>

        <div class="button-container">
            <label for="perfil-usuario">
                <input type="radio" name="perfil-usuario" value="comprador" id="">
                Comprador
            </label>
            <label for="perfil-usuario">
                <input type="radio" name="perfil-usuario" value="Vendedor">
                Vendedor
            </label>
        </div>
        
        <h2 class="txt">Intereses</h2>
        <div class="container-check">
            <label for="intereses">
                <input type="checkbox" name="intereses" value="electro">
                Electro
            </label>
            <label for="intereses">
                <input type="checkbox" name="intereses" value="moda">
                Moda
            </label><label for="intereses">
                <input type="checkbox" name="intereses" value="hogar">
                Hogar
            </label><label for="intereses">
                <input type="checkbox" name="intereses" value="jugueteria">
                juguetería
            </label><label for="intereses">
                <input class="prueba" type="checkbox" name="intereses" value="vida-sana">
                Vida sana
                
            </label>
            
        </div>
        
        <h2 class="txt">Imagen de perfil</h2>
        
        <input class="ancho-img" type="file" name="image-profile" id="" name="avatar" accept="image/*, .jpg, .png, .jpeg">
        
        <h2 class="txt">Ingrese contraseña</h2>
        <input class="ancho" type="password" placeholder=" Contraseña">
        
        
        <h2 class="txt">Ingrese nuevamente la contraseña</h2>
        
        <input class="ancho" type="password" placeholder=" Contraseña">

        <div class="button-container">

                <a href="/">
                    <input type="button" value="Create">
                </a>
                <a href="/userCreate">
                    <input type="button" value="Delete">
                </a>  
        </div>
        <br>
        <br>


    </form>
    
   
    <!--Footer-->
    <footer>
        <div class="container-footer-all">
            <div class="container-footer">
                <i class="icon fa-solid fa-credit-card"></i>

                <h2 class="titularF">Pagá con tarjeta o en efectivo</h2>
                
                <p class="parrafo">
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>

            <div class="container-footer">
                <i class="icon fa-solid fa-gift"></i>
                <h2 class="titularF">Envío gratis desde $ 2.500        </h2>

                <p class="parrafo">
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>

            <div class="container-footer">
                <i class="icon fa-solid fa-user-shield"></i>
                <h2 class="titularF">Seguridad, de principio a fin</h2>

                <p class="parrafo">     
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.
                </p>   
            </div>
        </div>
        <p class="parrafo copyright"> 
                 Copyright © 1999-2020 MercadoLiebre S.R.L.
        </p>  
    </footer>
</body>
</html>
