/*MEDIDAS DE TEXTO*/
.descripcion{
    display: none;
    font-size: 16px;
    color: #666;
    
}
.descuento{
    font-size: 16px;
    color: #39b54a;
    margin-left:5px ;
}
.precio{
    font-size: 18px;
}
.titular{
    font-size: 24px;
    color: #666;
}

/*Productos*/

.posicionG{
    
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
}
.container-product{
    margin:auto;
    margin-top: 10px;
    width: 90%;
    background-color: #fff;
    
    
    
}
.container-main{
    background-color:#ebebeb; 
    display: flex;
    align-content: center;
    justify-content: center;
    
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 15px;
    
}.container-img{

    width: 100%;
    height: 60%;

}
.container-img img{
    width: 100%;
    height: 100%;
}

.linea{
    color:#ebebeb;
    background-color: #ebebeb;
    height: 1px;
    border: hidden;
}.espaciado{
    margin: 15px;
}
/*Camion*/
.fa-truck{
    color: #39b54a;
    

}
.container-camion{
    display: flex;
    align-items: center;
    justify-content: center;
    border: #39b54a solid 1px;
    border-radius: 3.5vh;
    height: 7vh;
    width: 7vh;
    position:relative;
    right: -80%;
    top: -40px;

}
/*PRECIO OFERTA*/
.container-precioferta{
    display: flex;
    justify-content: start;
    align-items: flex-end;
}
.ocultar{
    display: none;
}


@media (min-width: 481px) {
    /*Diseño titular*/
    
    .posicionG{
        flex-direction: row;
    }
    /*OCULTAR BURGER*/
    .mostrar{
        display: none;
    }
    /*MOSTRAR NAVBAR*/
    .ocultar{
        display: block;
        padding: 15px 0 15px 0;
        
    }
    .ocultar2{
        display: flex;
        align-content: start;
        justify-content: space-between;
    
    }
    .links{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }.links li{
        
        margin:  10px;
    }
    /*DAR SOMBREADO A LOS PRODUCTOS*/
   
    /*CAMBIAR TAMAÑO DEL BANER*/
    .banner{
        height: 300px;
        margin-top: 140px;
    }
    /*CAMBIAR EL LOGO Y LA BARRA DE BUSQUEDA */

    .logo{
        width: 25%;
    }
    .container-barraBusqueda{
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center ;
    }.mensaje-inicial{
        width: 25%;

    }

    /*POSICIONAMIENTO DE PRODUCTOS*/
    .container-product{
        height: 60vh;
        width: 35%;
    }
    .posicionG{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }.container-precioferta{
        display: flex;
        justify-content: space-between;
        
    }.container-product:hover .descripcion{
        display: block;
    }.container-product .container-img img :hover .descripcion{
        display: block;
    }
    .container-product:hover .fa-truck{
        transform: rotate(-90deg);
    }.container-product:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    

}
@media  (min-width: 769px){

    /*OCULTAR BURGER*/
    .mostrar{
        display: none;
    }
    /*MOSTRAR NAVBAR*/
    .ocultar{
        display: block;
        padding: 15px 0 15px 0;
        
    }
    /*LINKS EN PAGINA PRINCIPAL*/
    .ocultar2{
        
        display: flex;
        align-content: start;
        justify-content: space-between;
    }
    
    /*DAR SOMBREADO A LOS PRODUCTOS*/
    
    /*CAMBIAR TAMAÑO DEL BANER*/
    .banner{
        height: 300px;
    }
    /*CAMBIAR EL LOGO Y LA BARRA DE BUSQUEDA */

    .logo{
        width: 25%;
    }
    .container-barraBusqueda{
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center ;
    }.mensaje-inicial{
        width: 25%;

    }
    /*POSICIONAMIENTO DE PRODUCTOS*/
    .container-product{
        height: 60vh;
        width: 35%;
        margin: 20px;
        
    }.container-product:hover .descripcion{
        display: block;
    }.container-img:hover .descripcion{
        display: block;
    }
    .posicionG{
        display:flex;
        flex-wrap:nowrap;
        justify-content: space-around;
        align-content: center;
       
    }
    .container-footer-all{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        padding: 0 0  30px 0;
    }.icon:hover{
        color: #0022AA;
    }
}